
html{
    border: 2px solid black;
}

header, footer{
    background-color: blue;
    padding: 15px;
    text-align: right;
    color: red;
    border: 5px solid red;
    
    
}


.footer > p {
    text-align: right;
    margin-right: 20px;
}
.my-image{
    width: 300px;
    height: 200px;
    padding: 10px;
    position: absolute;
    top: 150px;
    left: 1400;
    
}

.details {
    
    position: relative;
}